/*
@font-face {
		font-family: Montserrat;
		font-weight: ;
		src: '../../fonts/Montserrat-ExtraLight.otf';
	}
*/

/* Montserrat-Thin */


@font-face {
		font-family: Montserrat;
		font-weight: 100;
		src: '../../fonts/Montserrat-Light.otf';
	}

@font-face {
		font-family: Montserrat;
		font-weight: 400;
		src: '../../fonts/Montserrat-Medium.otf';
	}

@font-face {
		font-family: Montserrat;
		font-weight: 700;
		src: '../../fonts/Montserrat-Bold.otf';
	}



/*
Montserrat-Black.otf
Montserrat-Bold.otf
Montserrat-ExtraBold.otf
Montserrat-ExtraLight.otf
Montserrat-Light.otf
Montserrat-Medium.otf
Montserrat-Regular.otf
Montserrat-SemiBold.otf
Montserrat-Thin.otf
*/
