
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    color: #544c49;
    background-color: #282828;
    font-weight: lighter;
}

/* Template */
#site-wrapper {
    background-color: #282828;
}

.container {
    max-width: 1000px;
    background-color: white;
    /* padding-right: 0px; */
    /* padding-left: 0px; */
    background-image: none;

}

.full.container {
    min-width: 1200px;
}

#footer .full.container, #footer .full.container .container {
    background-color: #544c49;
    color: #8cb5b9;
    font-size: 12px;
}

#footer span.footer-headline {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .09em;
}

#footer .full.container .container {
    padding: 50px 0px;
    min-height: 300px;
}

#footer a {
    color: #8cb5b9;
    font-size: 12px;
}

#footer input[type=text] {
    font-weight: 500;
}

#footer input[type=button] {
    padding: 12px 0px;
    font-size: 12px;
}

#signup-container-thanks {
    color: white;
    font-weight: 700;
    letter-spacing: .08em;
    display: none;
    padding-top: 10px;
}

.social-list a {
    text-decoration: none;
}


.social-footer {
    background-image: url('http://localhost:8080/static/images/footer/footer-social.png');
    background-repeat: no-repeat;
    height: 44px;
    width: 40px;
    display: inline-block;
}

.social-footer.facebook {
    background-position: 0px -40px;
}

.social-footer.facebook:hover {
    background-position: 0px 0px;
}

.social-footer.instagram {
    background-position: -40px -40px;
}

.social-footer.instagram:hover {
    background-position: -40px 0px;
}

.social-footer.twitter {
    background-position: -80px -40px;
}

.social-footer.twitter:hover {
    background-position: -80px 0px;
}

.social-footer.pinterest {
    background-position: -120px -40px;
}

.social-footer.pinterest:hover {
    background-position: -120px 0px;
}


.social-strip {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 23px;
    line-height: 1.1em;
    font-weight: bold;
}

.social-strip a:hover {
    text-decoration: none;
}

.social-strip.teal {
    background-color: #8cb5b9;
    color: white;
}

.greenbg {
    background-color: #8cb5b9;
    color: white;
}

.greybg {
    background-color: #e8e8e3;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bold {
    font-weight: 700;
}

/* Nav */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    font-weight: medium;
}

.navbar-default {
    background-color: white;
    border: none;
    font-size: 13px;
    border-bottom: 1px solid #e0ddd7;
}

a.navbar-brand {
    height: 60px;
    padding: 0px;
    border: none;
}

.navbar-left {
    margin-left: 125px;
}

.navbar-default .navbar-left>li>a {
    color: black;
    padding: 22px 25px 10px 25px;
    letter-spacing: .09em;
    font-weight: 500;
}

.navbar-default .navbar-left>li>a:hover {
    color: #f27922;
}

.navbar-default .navbar-right>li>a  {
    color: grey;
    padding: 8px 3px 3px 0px;
    margin: 14px 5px 0 5px;
    letter-spacing: .09em;
}

.dropdown:hover .dropdown-menu {
    padding: 8px 0;
    display: block;
    border: none;
    box-shadow: none;
    font-size: 12px;
}

.dropdown-menu>li {
    display: block;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

.dropdown-menu>li>a:hover {
    background-color: #d9d8ce;
}

.breadcrumb {
    text-align: left;
    color: #a9a5a4;
    font-size: 12px;
}

.breadcrumb a {
    color: #a9a5a4;
}

.utility-links div {
    background-image: url('http://localhost:8080/static/images/nav/liingo-sprite.png');
    width: 18px;
    height: 18px;
}

.utility-links div.account-icon {
    background-position: -22px -2px;
}

.utility-links div.cart-icon {
    background-position: -43px -2px;
    font-size: 12px;
    color: #f27922;
    padding-left: 7px;
    line-height: 11px;
    font-weight: 500;
}

.utility-links div.empty-cart-icon {
    background-position: -62px -2px;
}

ul.utility-links.mobile {
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

ul.utility-links.mobile li  {
    margin-right: 30px;
    float: right;
}


/* Headlines */

h1.no-pad, h2.no-pad, h3.no-pad, h4.no-pad {
    padding: 0px;
    margin: 0px;
}

h1.no-pad-top, h2.no-pad-top, h3.no-pad-top, h4.no-pad-top {
    padding-top: 0px;
    margin-top: 0px;
}

div.no-pad {
    padding: 0px;
    margin: 0px;
}

div.no-pad-right {
    padding-right: 0px;
}


/* Fonts */

.lighter {
    font-weight: 100;
}

.medium {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.grey {
    color: #d9d8ce;
}

h1, h2, h3, h4, h5, h6, h7 {
    letter-spacing: -.06em;
}

h1.orange, h2.orange, h3.orange {
    color: #f27922;
}

.cat-main {
    text-transform: uppercase;
    color: #544c49;
    letter-spacing: .05em;
    font-weight: 500;
    margin: 6px 0px 6px;

}

.cat-secondary {
    font-size: 12px;
    color: #a9a5a4;
}

.rtb.row {
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    line-height: 1.4em;
}

.rtb.row h3 {
    color: #f5a511;
    font-weight: medium;
}

.floating-headline {
    text-align: center;
}

.green {
    color: #8cb5b9;
}

.dark {
    color: #544c49
}

.teal {
    color: #8cb5b9;
}

span.white {
    color: white;
}

/* Links */

a {
    text-decoration: none;
    color: #f27922;
}

a:hover {
    color: #e7580a;
}


.cta-container {
    padding: 27px 0px 0px;
}

a.orange-cta {
    background-color: #f27922;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .09em;
    padding: 10px 50px;
}

a.orange-cta:hover {
    text-decoration: none;
    background-color: #e7580a;
}

div.cta.primary {
    background-color: #f27922;
    padding: 13px 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    letter-spacing: .08em;
    border-radius: 0px;
}

a.cta.primary:hover {
    text-decoration: none;
}

.cta.primary:hover {
    background-color: #e7580a;
    text-decoration: none;
}


/* Heroes */
.full.container.hero {
    width: 1200px;
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}


.full.container.hero .copy-container {
    padding-top: 160px;
    width: 450px;
    margin: auto;
}

.full.container.hero .copy-container h2 {
    letter-spacing: .0em;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4em;
}




/* Lists */


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}



/* Spacers */

.pad-ten	{
    height: 10px;
    clear: both;
}

.pad-twenty	{
    height: 20px;
    clear: both;
}

.pad-thirty	{
    height: 30px;
    clear: both;
}

.pad-fourty	{
    height: 40px;
    clear: both;
}


.pad-fifty	{
    height: 50px;
    clear: both;
}

.pad-sixty	{
    height: 60px;
    clear: both;
}

.pad-seventy	{
    height: 70px;
    clear: both;
}

.pad-eighty	{
    height: 80px;
    clear: both;
}

.pad-ninety	{
    height: 90px;
    clear: both;
}

.pad-one-hundred	{
    height: 100px;
    clear: both;
}

.pad-one-ten	{
    height: 110px;
    clear: both;
}

.pad-one-twenty	{
    height: 120px;
    clear: both;
}

.pad-one-thirty	{
    height: 130px;
    clear: both;
}

.pad-one-fourty	{
    height: 140px;
    clear: both;
}

.pad-one-fifty	{
    height: 150px;
    clear: both;
}



/* Forms */

input.error {
    border: 2px solid #b92e1c;
}

.error {
    color: #b92e1c;
    font-weight: 200;
    padding-top: 30px;
}


.go-bold {
    font-weight: 700;
    opacity: .09;
    background-color: white;
    letter-spacing: -.08em;
    color: #67693f;
    clear: both;
    line-height: 170px;
}

.go-bold.header {
    font-size: 120px;
}

.go-bold.sub-header {
    font-size: 37px;
}

input[type=text], input[type=password] {
    padding: 10px;
}

input[type=submit] {
    background-color: #f27922;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    letter-spacing: .08em;
    border-radius: 0px;
}

input[type=submit]:hover {
    background-color: #e7580a;
}

input[type=submit].teal {
    background-color: #8cb5b9;
}

input[type=submit].teal:hover {
    background-color: #719496;
}

input[type=button] {
    background-color: #f27922;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    letter-spacing: .08em;
    border-radius: 0px;
}

input[type=button]:hover {
    background-color: #e7580a;
}

input[type=button].teal {
    background-color: #8cb5b9;
}

input[type=button].teal:hover {
    background-color: #719496;
}

div.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

div.no-padding-left {
    padding-left: 0px;
}

.row.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4.form-header {
    line-height: 1px;
}



/* Frames */


.hover-float {
    display: inline-block;
    height: 105px;
    margin: 0 5px;
    margin-bottom: 20px;
    /* transition: all 0.2s ease; */
}
/*

.hover-float:hover {
    transition: all 0.5s ease;
    margin-top: -10px;
    margin-bottom: 30px;
}

*/

.frame-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

.frame-container.short {
    margin-bottom: 10px;
}


.container.frame-listing {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}


.frame-image-container img {
    opacity: 1;
    transition: all 0.3s ease;
}

.frame-image-container img:hover {
    margin-top: -10px;
    transition: all 0.6s ease;
}

.frame-colors-container {
    margin-top: 10px;
}


.frame-container a:hover {
    text-decoration: none;
}

.error-page {
    padding-top: 50px;
    min-height: 600px;
    font-size: 20px;
    text-align: center;
}

.error-page h1 {
    color: #d9d8ce;
    font-size: 130px;
    line-height: 1.2em;
    font-weight: 700;
    padding-bottom: 15px;
    margin-top: -50px;
    letter-spacing: -.07em;
}

.error-page h2 {
    color: #8cb5b9;
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: 40px;
}

.error-text {
    padding-bottom: 10px;
}

.special-pricing {
    font-weight: 500;
    color: #f27922;
}


.edit-icon {
    background-image: url('http://localhost:8080/static/images/misc/edit-pencil.jpg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
}

.down-caret {
    background-image: url('http://localhost:8080/static/images/misc/sprite.png');
    background-position: 0px -1px;
    background-repeat: no-repeat;
    width: 13px;
    height: 8px;
    display: inline-block;
    margin-left: 1px;
}

.down-caret.up {

}



/* Color Swatches */
.frame-colors-container li {
    width: 24px;
    height: 24px;
    margin: 0px 0px;
    background-image: url('http://localhost:8080/static/images/misc/color-swatches.png?v=3');
    background-repeat: no-repeat;
    background-position: -30px 0px;
}

.frame-colors-container li.active {
    background-position: 0px 0px;
}

.frame-colors-container li:hover {
    cursor: pointer;
    opacity: .8;
}

/* Specific Colors */
.frame-colors-container li.tortoise {
    background-position: -30px 0px;
}
.frame-colors-container li.tortoise.active {
    background-position: 0px 0px;
}

.frame-colors-container li.lighttortoise {
    background-position: -30px -30px;
}
.frame-colors-container li.lighttortoise.active {
    background-position: 0px -30px;
}

.frame-colors-container li.black {
    background-position: -30px -60px;
}
.frame-colors-container li.black.active {
    background-position: 0px -60px;
}

.frame-colors-container li.red {
    background-position: -30px -90px;
}
.frame-colors-container li.red.active {
    background-position: 0px -90px;
}

.frame-colors-container li.purple {
    background-position: -30px -120px;
}
.frame-colors-container li.purple.active {
    background-position: 0px -120px;
}

.frame-colors-container li.crystal {
    background-position: -30px -150px;
}
.frame-colors-container li.crystal.active {
    background-position: 0px -150px;
}

.frame-colors-container li.brown {
    background-position: -30px -180px;
}
.frame-colors-container li.brown.active {
    background-position: 0px -180px;
}
.frame-colors-container li.green {
    background-position: -30px -210px;
}
.frame-colors-container li.green.active {
    background-position: 0px -210px;
}
.frame-colors-container li.blue {
    background-position: -30px -240px;
}
.frame-colors-container li.blue.active {
    background-position: 0px -240px;
}
.frame-colors-container li.gunmetal {
    background-position: -30px -270px;
}
.frame-colors-container li.gunmetal.active {
    background-position: 0px -270px;
}
.frame-colors-container li.matteblack {
    background-position: -30px -60px;
}
.frame-colors-container li.matteblack.active {
    background-position: 0px -60px;
}
.frame-colors-container li.glossyblack {
    background-position: -30px -300px;
}
.frame-colors-container li.glossyblack.active {
    background-position: 0px -300px;
}


.frame-colors-container li.lightblue {
    background-position: -30px -330px;
}
.frame-colors-container li.lightblue.active {
    background-position: 0px -330px;
}


.frame-colors-container li.tan {
    background-position: -30px -360px;
}
.frame-colors-container li.tan.active {
    background-position: 0px -360px;
}


.frame-colors-container li.grey {
    background-position: -30px -390px;
}
.frame-colors-container li.grey.active {
    background-position: 0px -390px;
}







/* browser specific styles */

    /* Large desktop */
    @media (min-width: 1200px) {

        .navbar-left {
            margin-left: 125px;
        }

    }

    /* This is that weird spot in the middle */
    @media (min-width: 1000px) and (max-width: 1200px) {


        .full.container {
            max-width: 100%;
            width: auto;
            min-width: 100%
        }


        .navbar-left {
            margin-left: 125px;
        }

    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1000px) {


        .full.container {
            max-width: 100%;
            width: auto;
            min-width: 100%
        }


        .navbar-left {
            margin-left: 20px;
        }

        .tablet-center {
            text-align: center;
        }

        .tablet-left {
            text-align: left;
        }

        .tablet-right {
            text-align: right;
        }

        div.tablet-no-pad {
            padding: 0px;
            margin: 0px;
        }

        .tablet-hidden {
            display: none;
        }

    }
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {


        .full.container {
            max-width: 100%;
            width: auto;
            min-width: 100%
        }


        .navbar-left {
            margin-left: 0px;
        }

        .container>.navbar-header {
            margin-left: 0px;
            margin-right: 0px;
        }

        .mobile-center {
            text-align: center;
        }

        .mobile-left {
            text-align: left;
        }

        .mobile-right {
            text-align: right;
        }

        div.mobile-no-pad {
            padding: 0px;
            margin: 0px;
        }


        .tablet-hidden {
            display: none;
        }
    }

    /* Landscape phones and down */
    @media (max-width: 480px) {


        .full.container {
            max-width: 100%;
            width: auto;
            min-width: 100%
        }

        .container>.navbar-header {
            margin-left: 0px;
            margin-right: 0px;
        }

        #footer .full.container {
            padding-left: 0px;
            padding-right: 0px;
        }

        #footer .full.container .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .mobile-center {
            text-align: center;
        }

        .mobile-left {
            text-align: left;
        }

        div.mobile-no-pad {
            padding: 0px;
            margin: 0px;
        }

        .mobile-hidden {
            display: none;
        }

    }


    @media (max-width: 375px) {

        ul.utility-links.mobile li {
            margin-right: 15px;
        }

        .go-bold.header {
            font-size: 100px;
        }
    }

    @media (max-width: 375px) {


    }
